#main-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(4px);
  align-items: center;
  padding: 0 6vw;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#main-header .left-head {
  display: flex;
  width: 100px;
}

#main-header .left-head .logo {
  display: flex;
  width: inherit;
  margin-left: 0;
}

#main-header .left-head .logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#main-header .left-head .logo h1 {
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

#main-header .right-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header .right-head ul {
  display: flex;
  list-style: none;
}

#main-header .right-head ul li {
  margin: 0 25px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

#main-header .right-head ul li:last-child {
  margin-right: 1px;
}

#main-header .right-head ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

#main-header .right-head ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 0, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

#main-header .right-head ul li a.active::after {
  width: 40%;
  height: 2px;
  transform: scaleX(1);
}

#main-header .right-head ul li a.active:hover::after {
  width: 100%;
  height: 2px;
  transform: scaleX(1);
}

#main-header .right-head ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* container */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100%;
}

.container div .key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 660px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-out;
  margin: 20px;
  padding: 0;
  border-radius: 13px;
}

.container div .key:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container div .key .title {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  justify-content: center;
}

.container div .key .title h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.container div .key img {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 360px;
  object-fit: cover;
}

.container div .key .description {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: normal; */
  overflow-wrap: break-word;
  width: 80%;
  height: 100px;
  margin-top: 20px;
  text-align: start;
}

.container div .key .description p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
